@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #e6edef;
  min-width: 390px;
  position: relative;
}
section{
  max-width: 1440px;
  margin: auto;
  padding: 0 1rem;
}

.font__bruno__ace{
  font-family: 'Bruno Ace SC', cursive;
}

.mask {
  
  /* Create a linear gradient that goes from black to transparent */
  background-image: linear-gradient(to top, black, white);
  
  /* Apply the mask to the element */
  -webkit-mask-image: linear-gradient(to top, black, white);
  mask-image: linear-gradient(to top, black, white);
}

.transition__custom{
  transition: all 0.3s ease-in-out;
}

.shadow__custom:hover{
  box-shadow: 10px 10px 173px 1px ;
  -webkit-box-shadow: 10px 10px 173px 1px;
  -moz-box-shadow: 10px 10px 173px 1px;
}